*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.btn {
height: 30px;
border: 0;
background-color: orange;
padding: 18px 35px;
font-family: 'Open Sans';
text-align: center;
font-size: 20px;
font-weight: 700;
font-size: 20px;
line-height: 0px;
margin-top: -10px;

/* White Color */

color: #FFFFFF;

}
/* this is the nev disk */
nav {
    display: flex;
    justify-content: space-between;
    margin: 20px 200px;
}
nav li {
    list-style: none;
    margin-right: 40px;
    margin-top: 40px;
    text-align: center;
}
nav ul {
    display: flex;
}
.title {
    font-weight: 800;
    font-size: 45px;
}
.re {
    color: rgb(249, 236, 66);
}
/* thid is bener style */


.bener {
    margin: 0 200px;
    display: flex;
    align-items: center;
}

.bener-t {
    font-weight: 700;
font-size: 85px;
color: rgb(255, 47, 158);
margin-bottom: 20px;
}
.bener-st {
    font-weight: 600;
font-size: 45px;
color: rgb(25, 255, 144);
}
.ps {
    
    font-weight: 400;
    font-size: 18px;
    color: rgb(76, 112, 255);
    margin-bottom: 20px;
}

.hot {
    background: #FFF8F3;
    background-image: url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

/* this is about me  */
/* hear is my about style */
main {
    max-width: 1140px;
    margin: 0 auto;
    background: #FFF8F3;
    border-radius: 10px;
}
.st{
    text-align: center;
    
}
.s-heading {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 150px;
    background: #FFF8F3;
    border-radius: 10px;
    font-weight: 700;
    font-size: 35px;
}
.section-paragrap {
    font-size: 18px;
    margin-bottom: 30px;
}


/* this is the conteinor side */
.about-info-conteinor {
    display: flex;
    margin-bottom: 200px;
    justify-content: space-around;
}
.section-title {
    text-align: center;
    margin: 200px;
}

.containor {
        display: flex;
        background: #FFFFFF;
        box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
        border-radius: 5px;
    }

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.skill-title{
    font-weight: 700;
font-size: 20px;
margin-top: 30px;
margin-bottom: 30px;
}
.skill-derection {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    padding: 20px;
}
.what-i-do {
    margin-top: 130px;
    margin-bottom: 200px;
}
.top {
    border: 1px solid red;
    border-radius:10px;
    padding: 15px;
    margin: 5px;
}


/* this is the skill syde */
.pop {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    text-align: center;
    color: #181818;
    margin-bottom: 200px;
}
.resume-contain {
    display: flex;
   margin-bottom: 20px;
}
.resume-items {
    margin: 50px;
    padding: 20px;
    margin-left: -30px;
}
.re-title {
    margin: 10px;
}
.sub-title {
    margin: 10px;
}
.decription {
    margin: 10px;
    font-size: 20px;
}
.re-btn {
    margin: 30px;
    text-align: center;
    background-color: orange;
    margin-left: 435px;
    margin-bottom: 150px;
    font-size: 30px;
}

/* idufhoklnsfgf */

.bg {
   display: flex;
}